/* Color Pallete */
/*
Dim Gray - #575757
Black - #1D1D1D
Dim Gray #3C3C3C
White #FAFAFA
Gray #8C8C8C
*/

/********************/
/* Overall Site     */
/********************/
body {
	font-family: 'Barlow', sans-serif;
  	position: relative;
	width: 100%;
	height: 100%;
	color: white;
}

html {
	width: 100%;
	height: 100%;
}

h2 {
	text-align: center;
  color: #20252b;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

h3 {
	text-align: left;
	color: #20252b;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

h4 {
	text-align: left;
	color: #616566;
	font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
	color: black;
	text-align: justify;
	font-size: 16px;
}


.buttonContainer{
  margin-top:20px;
  display: flex;
  justify-content: center;
}

.btn {
  background-color: none !important; 
  color: black;
  font-size: 14px;
  padding: 8px 14px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid lightgray;
  text-align: center;
  height: auto;
  border-radius: 25px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn-primary {
  text-align: center;
  color: black !important;
  background-color: #FFFFFF !important; 
}

.btn-secondary {
  height: 50%;
  margin-top: 5px;
  background-color: #FFFFFF !important;
}

.btn-form {
  text-align: center;
  color: white !important;
  background-color: #1a6794 !important; 
}

.btn-form:hover {
  text-align: center;
  color: white !important;
  background-color: #1a6794 !important; 
}

.btn:hover {
  color: #6f7376 !important;
  font-weight: 900;
  border: 1.5px solid #1a6794;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn-primary:hover {
  color: black !important;
  font-weight: 900;
  border: 1.5px solid #1a6794;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

a{ 

  padding: none;

}

.gitlink{
  height: 60px;
  width: 60px;
  margin-top: 7px;
}

.gitbutton {
  background-color: none !important; 
  color: black;
  padding: 20px;
  background-image: url("/img/github_logo_hover_invert.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.gitbutton:hover {
   background-image: url("/img/github_logo_hover.png");
}
/********************/
/* Nav Bar Styling  */
/********************/

.navbar {
	text-transform: uppercase;
	background-color: #20252b !important;
}

#websiteIcon {
	margin-right: 10px;
}

/*********************/
/* For Scrolling */
/*********************/

#scroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 2px solid #fff;
  background-color: rgba(32, 37, 43, .8);
  border-radius: 100%;
  box-sizing: border-box;
}
#scroll a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
#scroll a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: sdb03 3s infinite;
  animation: sdb03 3s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb03 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.scrollingArrow a {
  position: absolute;
  bottom: 80px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: lightgray;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.scrollingArrow a:hover {
  opacity: .5;
}

/********************/
/* Intro   */
/********************/

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: white;
  object-fit: contain;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead .intro-body {
	z-index: 1;
	display: table-cell;
  vertical-align: middle;
  padding: 20px 0px 0px 0px;
}

.visualRow{
  height: 100%;
}

.intro-text{
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #E6E6E6;
  opacity: .9;
  color: #20252b;
  border-radius: 5px;
  font-weight: bold;
  padding: 20px 20px 20px 20px;
  text-align: left;
}

a.projectLink{
  color: #20252b;
  font-weight: 800;
}

.projectLink:hover{
  text-decoration: none;
  color: #126796;
  font-weight: 800;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .intro-text {
    font-size: 16px;
  }
}

/*****************/
/* D3 Data Visual */
/*****************/

.svg-container {
    margin-top: 100px;
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

/********************/
/* Projects   */
/********************/

@media only screen and (max-width : 767px) {
  .box {
    height: auto !important;
  } 
}

#projectsGrid {
  margin-bottom: 10px;
}

.box{
  margin-bottom: 15px
}
/********************/
/* Card Flipping   */
/********************/
/*
.f1_container {
  position: relative;
  margin: 10px auto;
  width: 450px;
  height: 281px;
  z-index: 1;
}
.f1_container {
  perspective: 1000;
}
#project1Tile {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}
.f1_container:hover #f1_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: #aaa;
}*/

/********************/
/* Text   */
/********************/


.content-area{
  margin-top: 150px;
  height: 100%;
}

.anchorDiv{
  height: 60px;
  width: 100%;
}

.ProjectHeader{
  position: relative;
}

.downarrow {
  position:absolute;
  left: 50%;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  border: 1px solid white;
  bottom: 0;
  background: #20252b;
  opacity: .9;
  margin-bottom: 20px;
}

.uparrow {
  position:absolute;
  height: 30px;
  width: 30px;
  border-radius: 15px;
  border: 1px solid white;
  right: 0;
  background: #20252b;
  opacity: .9;
}

i {
    text-align: center;
    border: 1px solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 5px;
}

.up {
  margin-left: 10px;
  margin-top: 10px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}



.projectContainer {
  margin-bottom: 20px;
  background-color: #E6E6E6;
  opacity: .9;
  color: #20252b;
  border-radius: 5px;
  font-weight: bold;
  padding: 20px 20px 20px 20px;
  text-align: left;
}

.projectContainerSelected {
  margin-bottom: 20px;
  background-color: #E6E6E6;
  color: #20252b;
  border-radius: 5px;
  font-weight: bold;
  padding: 20px 20px 20px 20px;
  text-align: left;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3), 0 8px 22px 0 rgba(0, 0, 0, 0.2);
}

.projectContainerUnselected {
  margin-bottom: 20px;
  background-color: #FFFFFF;
  opacity: .9;
  color: #20252b;
  border-radius: 5px;
  border: .2px solid #E6E6E6;
  font-weight: bold;
  padding: 20px 20px 20px 20px;
  text-align: left;

}

.projectText {
	padding: 10px 60px 10px 20px;
  text-align: left;

}

.project_images {
    max-width: 80%;
    max-height: 80%;
    
}


.dataSourceLink{
	color: #126796;
  font-weight: 900;
  
	text-decoration: none;
}

.dataSourceLink::hover {
  color: pink;
  font-weight: 1000;
  font-size: 18px;
}
/********************/
/* Contact   */
/********************/

.contactAnchor{
  height: 80px;

}
.contactContainer{
  height: 100%;
	background-color: #20252b ;
}

.contact-info {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 170%;
  background-color: #E6E6E6;
  opacity: .9;
  color: #20252b;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  padding: 30px 15px 30px 15px;
}

.network-name {
  text-align:center;
}



/********************/
/* Resume   */
/********************/
embed {
  margin-top: 30px;
}


/********************/
/* About   */
/********************/
#brandingStatement {
  font-size
}


