/********************/
/* Overall Site     */
/********************/
body {
  font-family: 'Barlow', sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
}

html {
  width: 100%;
  height: 100%;
}

h2 {
  text-align: center;
  color: #20252b;
  font-size: 24px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

h3 {
  text-align: left;
  color: #20252b;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
  letter-spacing: 2px;
}

h4 {
  text-align: left;
  color: #616566;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

p {
  color: black;
  text-align: justify;
  font-size: 17px;
}

a{ 
  padding: 0;
}

.oi.oi-bar-chart{
  font-size: 40px;
  color: black;
}

.oi.oi-bar-chart:hover{
  color: #1a6794;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    height:1px;
}

.btn-group {
  float: right;
}

.btn {
  background-color: none !important; 
  color: black;
  font-size: 14px;
  padding: 8px 14px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid lightgray;
  text-align: center;
  height: auto;
  border-radius: 25px;
  transition-duration: 0.4s;
}

.btn-primary {
  text-align: center;
  color: black !important;
  background-color: #FFFFFF !important; 
}

.btn-secondary {
  height: 50%;
  margin-top: 5px;
  background-color: #FFFFFF !important;
}

.btn-form {
  text-align: center;
  color: white !important;
  background-color: #1a6794 !important; 
}

.btn-form:hover {
  text-align: center;
  color: white !important;
  background-color: #1a6794 !important; 
}

.btn:hover {
  color: black !important;
  font-weight: 900;
  font-size: 16px;
  border: 1.5px solid #1a6794;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.btn-primary:hover {
  color: black !important;
  font-weight: 900;
  border: 1.5px solid #1a6794;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}



.gitbutton {
  margin-top: -3px;
  background-color: none !important; 
  margin-left: 10px;
  color: black;
  padding: 20px;
  background-image: url("/img/github_logo_hover_invert.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.gitbutton:hover {
  transform: scale(1.1);
  background-image: url("/img/github_logo_hover.png");
}
/********************/
/* Nav Bar Styling  */
/********************/

.navbar {
  text-transform: uppercase;
  background-color: #20252b !important;
}

#websiteIcon {
  margin-right: 10px;
}

/********************/
/* Intro   */
/********************/

.masthead {
  display: table;
  padding: 200px 0;
  text-align: center;
  color: white;
  object-fit: contain;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead .intro-body {
  z-index: 1;
  display: table-cell;
  vertical-align: middle;
  padding: 20px 0px 0px 0px;
}

.visualRow{
  height: 100%;
}

#d3_visual {
  display: flex;
  height: 100%;
  width: 100%;
  padding-top: 15px;
}


#projectsHeaders{
  position: relative;
  top: 50%;
  color: #333333;
  opacity: .7;
  font-style: italic;
  font-size: 48px;
}

#skillsHeaders{
  position: relative;
  top: 50%;
  color: #3C74A6;
  opacity: .9;
  font-style: italic;
  font-size: 48px;
}

@media (max-width: 500px)
{ 

  #d3_visual {
    position: absolute;
    top: 50;
  height: 400px;
  width: 100%;
  }

  #projectsHeaders{
    display: none;
  }

  h1{
     font-size: 14px;
  }

  #skillsHeaders{
    display:none;
  }

  .projectLink{
    display: none;
  }

  .titles{
    display: none;
  }
}


.intro-text{
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #E6E6E6;
  opacity: .9;
  color: #20252b;
  border-radius: 5px;
  font-weight: bold;
  padding: 20px 20px 20px 20px;
  text-align: left;
}


@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .intro-text {
    font-size: 16px;
  }
}

/*****************/
/* D3 Data Visual */
/*****************/

.svg-container {
    margin-top: 100px;
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 0;
}

.projectImage {
  width: 100%;
  height: auto;
}

/********************/
/* Text   */
/********************/

.dataVisual{
  position: relative;
}

.content-area{
  margin-top: 150px;
  height: 100%;
}

.anchorDiv{
  height: 60px;
  width: 100%;
}

.anchorDiv2{
  height: 20px;
  width: 100%;
}

.italic-text{
  font-style: italic;
}


i {
    text-align: center;
    display: inline-block;
    padding: 5px;
}

.fa {
  color: #21252B;
  font-size: 36px;
  opacity: .8;
}

.downarrow {
  position:absolute;
  color: black;
  left: 50%;
  height: 30px;
  width: 30px;
  border: none;
  bottom: 0;  
  margin-top: 5px;
  margin-bottom: 20px;
}

.outer {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  display: flex;
    align-items: center;
}


.inner{
  position: relative;
  
}

.downarrow2 {
  position:relative;
  bottom:0;
  left:50%;
  color: black;
  height: 30px;
  width: 30px;
  border: none; 
  margin-bottom: 5px;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-25px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/********************/
/* Contact   */
/********************/

.contactAnchor{
  height: 80px;

}
.contactContainer{
  height: 100%;
  background-color: #20252b ;
}

.contact-info {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
  line-height: 170%;
  background-color: #E6E6E6;
  opacity: .9;
  color: #20252b;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  padding: 30px 15px 30px 15px;
}

.network-name {
  text-align:center;
}



/********************/
/* Resume   */
/********************/
embed {
  margin-top: 30px;
}


/********************/
/* About   */
/********************/
#brandingStatement {
  font-size: 18px;
}


.aboutMe {
  margin-left: 150px;
  margin-right: 150px;
}

#successMessage{
  margin-top: 40px;
  text-align: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/********************/
/* RESPONSIVE   */
/********************/

@media screen and (max-width: 992px) {
    .outer {
    min-height:100%;
    margin-bottom:150px;
    margin-top:100px;
  }
  .container{
    margin: 0;
  }
}

@media all and (max-width: 600px) {

  #dataVisual{
    min-height:100%;
    min-width:100%;
  }
  .downarrow{
    left: 50%;
    top:450px;
  }
  .fa{
    font-size: 18px;
  }

  .outer {
    min-height:100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom:150px;
    margin-top: 30px;
  }

  h3{
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  p{
    font-size: 12px;
  }

  .buttonContainer{
    margin-top: 0px;
    position:relative;
  }


  .anchorDiv2{
    height: 10px;
    width: 100%;
  }

  .contactContainer{
    margin-top:80px;
    width:100%;
    min-height: 800px;
  }

  .contactRow{
    margin-left:10px;
    margin-right:10px;
  }
  #contactMessage{
    line-height: normal;
    font-size:14px;
  }
  .formCol{
    padding-left: 40px;
    padding-right: 40px;
  }


  .projectText{
    padding: 0px;
  }

  #brandingStatement{
    font-size: 12px;
  }
  .aboutContainer{
    margin-top: 60px;
  }

  .aboutMe{
    margin-top: 0px;
    margin-left: 5px;
    margin-right: 5px;
  }

.oi.oi-bar-chart{
  margin-top:5px;
  font-size: 25px;
}

  .projectImage {
    max-height: 200px;
    width: auto;
    margin-bottom: 20px;
  }

}